.App {
  margin: 5px;
  padding: 0;
  text-align: center;
}

.table{
  margin-top: 20px;
  border: 2px solid black;
  width: 100%;
}
.table th{
  color: green;
  border: 2px solid black;
}
.table td{
  border: 1px solid blue;
}


